*.iml
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

.gradle/
.kotlin/
**/build/
.idea/
*.iml
local.properties
.DS_Store

*.apk
*.aab
*.jks
*.keystore
keystore.properties
key.properties
.env
.env.*